@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: clamp(15px, 14px + 0.3vw, 18px);
}

@media (min-width: 1024px) {
  html {
    font-size: clamp(16px, 14px + 0.4vw, 19px);
  }
}

body {
  font-family: var(--font-body), sans-serif;
}
